.nav-item {
    font-size: 1.4rem;
    font-family: $font-sahel;
}

.box-body {
    font-size: 1.2rem;
    font-family: $font-sahel;
    border-radius: 7px;
}

.more {
    font-size: 1.3rem;
    margin-left: 20px;
    flex-grow: 1;

    &:hover {
        color: $color-green;
    }
}