.navbar {
    position: relative;
    background-color: $color-primary;

    .img-logo {
        width: 100px;
    }

    &-nav {
        align-items: center;
    }

    .searchbox {
        // margin-right: 90px;
        width: 250px;
    }
}


.wrapper {
    min-height: 200px;
    border: 1px solid #ddd;
    overflow-x: auto;
    overflow-y: hidden;

    & .items {
        @include items;
        min-width: 150px;
        width: 150px;
        line-height: 1;
        vertical-align: top;
        text-align: center;
        font-family: $font-sahel;
        
        &:hover {
            background-color: $color-primary;
            cursor: pointer;
        }
    }
    & img {
        border-radius: 20px;
        width: 100px;
    }

    & .item-vitrin {
        @include items;
        min-width: 400px;
        width: 400px;

        & img {
            border-radius: 20px;
            width: 400px;
            margin-bottom: 5px;

            &:hover {
                cursor: pointer;
            }
    
        } 
    }

}


.category {
    background: $color-gray;

    &-item {
        background: $color-gray;
        color: $color-black;
        border-radius: 0.6rem;
        opacity: 0.6;
        cursor: pointer;
          
    &:hover {
    background: $color-primary;
    opacity: 1;
    }
       
    }

    &-icon {
        font-size: 1.5rem;
        cursor: pointer;  
      }
      
  }


  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    &-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: $color-secondary;
      }
  }
  
  
  .footer {
    background-color: $color-primary;
    margin-top: 30px;

    &-link a{
        text-decoration: none;
        color: $color-black;

        &:hover {
            color: $color-green;
        }
    }
  }